#ext-popup {
    font-size: 0;
    border: 1px solid #dbdbdb;
    min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    padding: 3px;
    position: fixed;
    background-color: #fff;
    display: none;
    z-index: 9999;
}

.img-to-display {
    margin: 2px;
    height: 119px;
    width: 119px;
    display: inline-block;
    vertical-align: top;
}
